# should be placed in /etc/systemd/system/blastoff-animation.service

[Unit]
Description=Saturn V Blast-off animation

[Service]
Type=dbus
BusName=com.github.jirikopecky.SaturnV
User=root
# TODO: fix path to the executable
ExecStart=/home/pi/projects/saturn-v-blastoff/blastoff-animation/blastoff-animation